<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head%} {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="fontawesome-free-6.5.1-web/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <link rel="shortcut icon"  href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Playfair+Display&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://kit.fontawesome.com/cee305bb4c.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="mynav">
        <div class="container-fluid " style="width: 85%;">
          <a class="navbar-brand fas fa-pizza-slice" href="/"><h2>Lala Pizza</h2></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link mynav-item" href="menu"><i class="fa-solid fa-utensils"></i><h2>Menu</h2></a>
              <a class="nav-link mynav-item" href="chefs"><i class="fa-solid fa-person"></i><h2>Our Chefs</h2></a>
              <a class="nav-link mynav-item" href="about"><i class="fa-solid fa-circle-question"></i><h2>About Us</h2></a>
              <a class="nav-link mynav-item" href="contact" ><i class="fa-solid fa-envelope"></i><h2>Contact</h2></a>
            </div>
          </div>
        </div>
      </nav>

      {% block body%} {% endblock %}


      <footer>
        <div class="container">
            <div class="footer-section">
                <a href="menu.html"> <h3 class="inline-block">Menu</h3></a>
                <a href="chefs.html"> <h3 class="inline-block">Our Chefs</h3></a>
            </div>
    
            <div class="footer-section ">
                <a href="about.html"> <h3 class="inline-block">About</h3></a>
                <a href="contact.html"> <h3 class="inline-block">Contact US</h3></a>

            </div>
    
    
            <div class="footer-section">
                <h3>Follow Us</h3>
                <div class="social-icons">
                    <a href="#" target="_blank">Facebook</a>
                    <a href="#" target="_blank">Twitter</a>
                    <a href="#" target="_blank">Instagram</a>
                </div>
            </div>
            <div class="footer-section ">
                <p >You can find us in <br>45. Street. 7 Naples/Italy</p>            </div>
        </div>
        <p>&copy; 2024 Lala Pizza. All rights reserved.</p>
    </footer>
    


    <script src="{{url_for('static', filename='js/index.html')}}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
