{% extends 'base.html' %}
{% block head%}
<title>Our Chefs</title>
{% endblock %}

{% block body%}
      <header>
        <div class="chefs-header">
            <div class="text-section">
                <p class="">TASTY AND CRUNCHY</p>

                <h1 >Maestros in the Kitchen</h1>
                <p>Meet Our Culinary Visionaries</p>
                <p>Discover the culinary artisans who turn ingredients into masterpieces. </p>
                <a href="menu" class="location-btn">View Our Menu</a>

            </div>
            <div class="image-section">
                <img src="{{ url_for('static', filename='images/cheff.png') }}"  alt="Restaurant Image">
            </div>
            <div class="flag-border"></div>

        </div>
      </header>

      <section class="chefs">
        <h2 class="text-center" style="font-family: 'Covered By Your Grace', cursive; font-size: 60px;">Our Talented Chefs</h2>

        <div class="chef-container">
            {% for chef in chefs %}
            <div class="chef-card">
                <img class="chef-image" src="{{ chef.chef_image }}" alt="{{ chef.chef_name }}">
                <div class="chef-details">
                    <div class="chef-name"><h3>{{ chef.chef_name }}</h3></div>
                    <div class="chef-city"><h6>{{ chef.chef_city }}</h6></div>
                    <div class="chef-speciality"><p>{{ chef.chef_speciality }}</p></div>
                    <div class="chef-description">{{ chef.chef_description }}</div>
                </div>
            </div>
            {% endfor %}
        
        </div>
      </section>
      <section>
        <div class="feature-section">
            <div class="feature-box feature-box-img1" >
                <div class="overlay"> 
                    <p>Discover the Art of Flavorful Dishes</p>
                    <a href="menu.html" class="view-more">View More</a>
                </div>


            </div>
        
            <div class="feature-box feature-box-img2" >
                <div class="overlay">
                    <p>Indulge in the Richness of Italian Cuisine</p>
                    <a href="menu.html" class="view-more">View More</a>
                </div>

 
            </div>
        
            <div class="feature-box feature-box-img3" >
                <div class="overlay"> 
                    
                    <p>Explore a World of Culinary Delights</p>
                    <a href="menu.html" class="view-more">View More</a>
                </div>

            </div>
        </div>
        
      </section>
      <section class="booking">
        <div>
    
                <div class="reservation-form">
                    <p class="center-text">TASTY AND CRUNCHY</p>
                    <h2 class="center-text">Book a Table</h2>
                    <p class="center-text">Reserve your table now for a taste of culinary perfection. <br>Indulge in an unforgettable dining experience with us</p>
    
    
    <form class="form-mainpage booking-form" action="{{ url_for('book') }}" method="post">
        {{ form.csrf_token }}
        
        <div class="form-group">
          <label for="date">Date:</label>
          {{ form.date }}
        </div>
    
        <div class="form-group">
          <label for="time">Time:</label>
          {{ form.time }}
          <small>We are open from 13:00 to 00:00</small>
        </div>
    
        <div class="form-group">
          <label for="num_people">Number of People:</label>
          {{ form.num_people }}
        </div>
    
        <div class="form-group">
          <label for="name">Your Name:</label>
          {{ form.name }}
        </div>
    
        <button type="submit" class="submit-button">Submit Reservation</button>
      </form>
    
                </div>
    
        </div>
    </section>

{% endblock %}
     