{% extends 'base.html' %}
{% block head%}
<title>Contact US</title>
{% endblock %}

{% block body%}

    <div class="get-intouch">
        <h2>Get in touch with us</h2>
        <p>Have a question, craving, or just want to say ciao? Reach out! <br> We're here to turn your inquiries into delightful conversations.</p>
    </div>
    <div class="contact-container">
        <div class="content">
            <div class="contact-left-side">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">Address</div>
                    <div class="text-one">45. Street. 7 </div>
                    <div class="text-two">Naples/Italy</div>
                </div>
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+90555102555</div>
                    <div class="text-two">+90555102566</div>
                  </div>
                  <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">itskhadijanur@gmail.com</div>
                    <div class="text-two">itskhadijanurr@gmail.com</div>
                  </div>
            </div>
            <div class="contact-right-side">
                <div class="topic-text">Send us a message</div>
                <p>We would like to hear from you</p>
                <form method="POST" action="{{ url_for('contact') }}" class="contact-form"  id="contact-form">
                    {{ contactform.hidden_tag() }}
                    
                    <div class="">
                        {{ contactform.name.label }} {{ contactform.name(class="form-control input-box",  placeholder="Enter your name") }}
                    </div>
                    <div class="">
                        {{ contactform.email.label }} {{ contactform.email(class="form-control input-box", placeholder="Enter your email") }}
                    </div>
                    <div class="">
                        {{ contactform.message.label }} {{ contactform.message(class="form-control input-box message-box", cols="30", rows="10") }}
                    </div>
                    <div class="">
                        {{ contactform.submit(class="menu-btn") }}
                    </div>
                    {% if form_submitted %}
                        <p>Form submitted successfully!</p>
                    {% endif %}
                </form>

            </div>
        </div>
    </div>

    <div class="flag-div">
        <div class="flag-border"></div>

    </div>

    {% include 'booking.html' %}
{% endblock %}
     