
{% extends 'base.html' %}
{% block head%}
<title>Our Menu</title>
{% endblock %}

{% block body%}
<div class="starters-div">
    <section class="starters">
      <div class="starter-text">
      <p class="text-center">TASTY AND CRUNCHY</p>

      <h2 class="text-center">Awesome Starters </h2>
      <p class="text-center width-reset" style="width: 70%; margin: 0 auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <ul>
          <li>
              <div class="dish-details">
                  <h3>Bruschetta</h3>
                  <p>Grilled bread topped with tomatoes, garlic, and basil.</p>
              </div>
              <div class="price">$6.99</div>
          </li>
          <li>
              <div class="dish-details">
                  <h3>Caprese Salad</h3>
                  <p>Fresh tomatoes, mozzarella cheese, and basil, drizzled with balsamic glaze.</p>
              </div>
              <div class="price">$5.99</div>
          </li>
          <li>
              <div class="dish-details">
                  <h3>Arancini</h3>
                  <p>Fried risotto balls, often filled with cheese or meat.</p>
              </div>
              <div class="price">$4.99</div>
          </li>
          <li>
              <div class="dish-details">
                  <h3>Antipasto Platter</h3>
                  <p>Assorted cured meats, cheeses, olives, and marinated vegetables.</p>
              </div>
              <div class="price">$4.99</div>
          </li>
      </ul>
  </section>
</div>


<div class="flag-div">
  <div class="flag-border"></div>

</div>

<section class="location" style="height: 300px;     background-image: linear-gradient(100deg, #ee72143b 0%, #9d572128 100%),url('https://static.vecteezy.com/system/resources/previews/007/764/642/non_2x/spaghetti-bolognese-italian-pasta-with-parsley-in-the-restaurant-italian-food-and-menu-concept-spaghetti-on-fork-and-black-background-free-photo.JPG');
">
  <div class="">
      <p>TASTY AND CRUNCHY</p>
      <h2>Enjoy in Good Taste and Live Life</h2>
  </div>

</section>

<div class="starters-div">
  <section class="starters">
      <div class="starter-text">
    <p class="text-center">TASTY AND CRUNCHY</p>

    <h2 class="text-center">Stunning Mains
  </h2>
    <p class="text-center width-reset" style="width: 70%; margin: 0 auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedolorm reminusto doeiusmod ex.</p>
    </div>
    <ul>
        <li>
            <div class="dish-details">
                <h3>Spaghetti Bolognese</h3>
                <p>Ground meat sauce on pasta, a classic Italian favorite.</p>
            </div>
            <div class="price">$8.99</div>
        </li>
        <li>
            <div class="dish-details">
                <h3>Chicken Parmesan</h3>
                <p>Breaded chicken, tomato sauce, melted cheese; Italian-American comfort dish.</p>
            </div>
            <div class="price">$10.99</div>
        </li>
        <li>
            <div class="dish-details">
                <h3>Osso Buco</h3>
                <p>Braised veal shanks, rich sauce; a hearty Milanese specialty.</p>
            </div>
            <div class="price">$10.99</div>
        </li>
        <li>
            <div class="dish-details">
                <h3>Lasagna</h3>
                <p>Layered pasta, ricotta, meat sauce, and cheese; baked perfection.</p>
            </div>
            <div class="price">$10.99</div>
        </li>
    </ul>
</section>
</div>
<div class="flag-div">
  <div class="flag-border"></div>

</div>

<section class="location" style="height: 300px;     background-image: linear-gradient(100deg, #ee72143b 0%, #9d572128 100%),url('https://images.food52.com/hKCDj3jTTxou7bKJXhuT5L2zLeo=/fit-in/800x0/77c64085-5883-4890-840b-afd4159b8301--2015-0911_how-to-make-zuccotto-without-a-recipe_james-ransom-088.jpg');
">
  <div class="">
      <p>TASTY AND CRUNCHY</p>
      <h2>Delight in life's flavors and savor every bite.</h2>
  </div>

</section>

<div class="starters-div">
  <section class="starters">
      <div class="starter-text">
          <p class="text-center">TASTY AND CRUNCHY</p>

          <h2 class="text-center">Sweet Desserts
    
          </h2>
          <p class="text-center width-reset" style="width: 70%; margin: 0 auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

    <ul>
        <li>
            <div class="dish-details">
                <h3>Tiramisu</h3>
                <p>Coffee-soaked ladyfingers, layered with mascarpone, dusted with cocoa.</p>
            </div>
            <div class="price">$6.99</div>
        </li>
        <li>
            <div class="dish-details">
                <h3>Cannoli</h3>
                <p>Fried pastry tubes filled with sweet ricotta, often with pistachios.</p>
            </div>
            <div class="price">$4.99</div>
        </li>
        <li>
            <div class="dish-details">
                <h3>Panna Cotta</h3>
                <p>Vanilla-infused cream custard, often served with fruit coulis.</p>
            </div>
            <div class="price">$4.99</div>
        </li>
        <li>
            <div class="dish-details">
                <h3>Amaretti Cookies</h3>
                <p>Almond-flavored, crisp outside, chewy inside; delightful Italian cookies.</p>
            </div>
            <div class="price">$7.99</div>
        </li>
    </ul>
</section>
</div>
{% endblock %}
     